[submodule "core/Clash.Meta"]
	path = core/Clash.Meta
	url = https://github.com/chen08209/Clash.Meta.git
	branch = FlClash
[submodule "plugins/flutter_distributor"]
	path = plugins/flutter_distributor
	url = https://github.com/chen08209/flutter_distributor.git
	branch = FlClash


