<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="FlClash Debug"
        tools:replace="android:label">
        <service
            android:name=".TileService"
            android:label="FlClash Debug"
            tools:replace="android:label" />
    </application>
</manifest>
