<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="${applicationId}.permission.RECEIVE_BROADCASTS"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.RECEIVE_BROADCASTS" />
</manifest>