<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name="com.follow.clash.service.VpnService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":background">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn" />
        </service>

        <service
            android:name="com.follow.clash.service.CommonService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:process=":background">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="service" />
        </service>

        <service
            android:name="com.follow.clash.service.RemoteService"
            android:exported="false"
            android:process=":background" />
    </application>
</manifest>